################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Redes-Sociales/v17
/redes-Sociales/redes-Sociales/.vs/redes-Sociales
