@page "/"
@using redes_Sociales.Data.Models

<div class="container mt-4">
    <div class="row text-center">
        <h1 class="Tittle" style="font-size:60px">Red Social Académica</h1>
    </div>

    <div class="row mt-4">
        <!-- Columna de Formulario -->
        <div class="col-md-5 text-center">
            <br class="col-md-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="buscarInput" placeholder="Ingrese un nombre...">
                <label for="buscarInput">Buscar</label>
            </div>
            <button class="btn btn-dark w-100 mb-4">Buscar</button>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombreInput" placeholder="Nombre">
                <label for="nombreInput">Nombre</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="rolSelect">
                    <option value="">Seleccione un rol</option>
                    <option value="Profesor">Profesor</option>
                    <option value="Estudiante">Estudiante</option>
                </select>
                <label for="rolSelect">Rol</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="interesesInput" placeholder="IA, Programación, ...">
                <label for="interesesInput">Intereses</label>
            </div>

            <button class="btn btn-dark w-100 mb-4">Agregar Perfil</button>

            <div>
                <h1 class="Tittle">Indices</h1>
                <div class="legend-container">
                    <div class="legend-item">
                        <div class="diamond"></div>
                        <span>Profesor</span>
                    </div>
                    <div class="legend-item">
                        <div class="oval"></div>
                        <span>Estudiante</span>
                    </div>
                    <div class="legend-item">
                        <div class="square"></div>
                        <span>Investigador</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna de Gráfica -->
        <div class="col-md-7 text-center">
            <GraphViewer />
        </div>
    </div>
</div>
