@inherits LayoutComponentBase

<div class="container-fluid">
    <header class="mb-4">
    </header>
    <main>
        @Body
    </main>
    <footer class="mt-4 text-center">
        <p>&copy; 2025 Red Social Académica - Grupo 4</p>
    </footer>
</div>